# Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
#*.cbp

# generated directories
bin/
obj/

#SFML Stuff
*.dll

#Zips
*.zip
*.7z

#Builds
Project/
MattCraft/
old/
build/
HopsonCraft/

#Test Worlds
Test\ World/
Terrain_
New\ World
World\ Of\ Cool\ People/

#Exe
game

#Other#
#Deprecated files that i do not want to delete
Dep/
