# Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
#*.cbp

# generated directories
bin/
obj/

#SFML Stuff
*.dll
*.zip
*.7z
Project/

#OpenGL Files
glew.c
wglew.h
glew.h
